<!doctype html>
<html lang="en" ng-app="companyApp">
<head>
	<meta charset="utf-8">
	<title>Google Phone Gallery</title>
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="css/app.css">
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-route/angular-route.js"></script>
	<script src="js/app.js"></script>
	<script src="js/controllers.js"></script>
</head>
<body ng-controller="CompanyListCtrl">

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-2">

				Search: <input ng-model="query">
				Sort by:
				<select ng-model="orderProp">
					<option value="name">Alphabetical</option>
					<option value="openPrice">Highest</option>
				</select>

			</div>
			<div class="col-md-10">
				<ul>
					<li ng-repeat="company in companies | filter:query | orderBy:orderProp">
						<span>{{company.companyName}}</span>
						<p>open Price : ${{company.openPrice}}</p>
					</li>
				</ul>

			</div>
		</div>
	</div>
	
</body>
</html>
